<%- include('partials/header') %>

<div class="card">
  <div class="card-body">
		<p> <%= movie.name %> </p>
    <p> <%= movie.id %> </p>
		<p> <%= movie.genre %> </p>
		<p> <%= movie.date %> </p>
    <form action="/" method="post">
      <input type="text" class="form-control" name="update" placeholder="Update the name">
    </div>
    <button type="submit" class="btn btn-primary btn-lg" formaction="/">Update</button>
  </form>
  <Button type="submit" class="btn btn-primary btn-lg"> Delete film </Button>

  </div>

  <%- include('partials/footer') %>
