<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <%- include('partials/header') %>
        <div class="jumbotron">
            <h1>Move Shop</h1>
        </div>
				<h3> Liste de films </h3>
				<ul class="list-group m-3">
					<% movies.forEach((movie) => {

                        %>
						<li class="list-group-item"><%= movie.name%></li>
                        <li class="list-group-item"><%= movie.date%></li>
                        <li class="list-group-item"><%= movie.genre%></li>
                         <a href="/<%= movie.id%>"> Update film</a>
                        <%}) %>
				</ul>

        <%- include('partials/footer') %>
    </div>
</body>

</html>
