<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <%- include('partials/header') %>
    <a href='/movies'>Home</a>
    <div class="card">
      <div class="card-body text-center">

		  	<p>Name : <%= movie.alphabet %> </p>
        <p>ID : <%= movie.id %> </p>
				<p>Gender : <%= movie.gender %> </p>
				<p> Date : <%= movie.date %> </p>
        <p> Synopsis :<%= movie.synopsis %> </p>
				<p> Resume <%= movie.test %> </p>
  			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">
  				Delete <%= movie.name %>
  			</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#update">
  				Update
  			</button>
			</div>
		</div>
	</div>

  <!-- Modal DELETE-->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteLabel">Do you really want to delete this movie?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        Confirme deletion
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="/movies/<%= movie.id%>/delete">Delete movie</a>
        </div>
      </div>
    </div>
  </div>
<!-- End Modal DELETE-->

<!-- Modal UPDATE -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateLabel">Update movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" method="POST" action="/movies/<%= movie.id%>/update">
          <label for="name"> Name : </label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Update the name" value="<%= movie.name %>">
          <label for="gender"> Gender : </label>
          <input type="text" class="form-control" id="gender" name="gender" placeholder="Update the gender" value="<%= movie.gender %>">
          <label for="date"> Date : </label>
          <input type="text" class="form-control" id="date" name="date" placeholder="Update the date" value="<%= movie.date %>">
          <label for="synopsis">Synopsis</label>
          <textarea type="text" class="form-control" id="synopsis" name="synopsis" value="<%= movie.synopsis %>" rows="10" cols="50"><%= movie.synopsis%></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Modal UPDATE -->

  <%- include('partials/footer') %>

<!-- Script for bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>


</html>
