<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <%- include('partials/header') %>
    <a href='/movies'>Home</a>
    <div class="card">
      <div class="card-body text-center">
		  	<p> <%= movie.name %> </p>
        <p> <%= movie.id %> </p>
				<p> <%= movie.genre %> </p>
				<p> <%= movie.date %> </p>
  			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">
  				Delete <%= movie.name %>
  			</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#update">
  				Update
  			</button>
			</div>
		</div>
	</div>

  <!-- Modal DELETE-->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteLabel">Do you really want to delete this movie?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        Confirme deletion
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<form method='POST', action="delete/<%= movie.id%>">
            <button type="submit" class="btn btn-danger">Delete <%= movie.name %></button>
				  </form>
        </div>
      </div>
    </div>
  </div>
<!-- End Modal DELETE-->

<!-- Modal UPDATE -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateLabel">Update movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/" method="post">
          <label for="update-name"> Name : </label>
          <input type="text" class="form-control" id="update-name" name="update-name" placeholder="Update the name" value="<%= movie.name %>">
          <label for="update-genre"> Gender : </label>
          <input type="text" class="form-control" id="update-genre" name="update-genre" placeholder="Update the genre" value="<%= movie.genre %>">
          <label for="update-date"> Date : </label>
          <input type="text" class="form-control" id="update-date" name="update-date" placeholder="Update the date" value="<%= movie.date %>">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form method='POST', action="update/<%= movie.id%>">
          <button type="submit" class="btn btn-danger">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Modal UPDATE -->

  <%- include('partials/footer') %>

<!-- Script for bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>


</html>
